.fetcher {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fetch-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: center;
}

.add-field-btn {
    width: 30.5rem;
    font-family: var(--header-font);
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid var(--light-gray);
    outline: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: rgba(148, 147, 147, 0.356);
    color: var(--purple);
    transition: ease 0.2s;
}

.add-field-btn:hover {
    background-color: rgba(128, 128, 128, 0.651);
}